In [1]:
import numpy as np
import pandas as pd

In [2]:
my_dict = { 
     'name' : ["a", "b", "c", "d", "e",0 , "g"],
     'age' : [20,27, 35, 55, 18, np.nan, 35],
     'designation': ["VP", "?", "CFO", "VP", "VP", "CEO", "MD"],
      'Year':[1990,1991,1992,1993,1994,1995,1996]
}

In [3]:
df = pd.DataFrame(my_dict)
df

  name   age designation  Year
0    a  20.0          VP  1990
1    b  27.0           ?  1991
2    c  35.0         CFO  1992
3    d  55.0          VP  1993
4    e  18.0          VP  1994
5    0   NaN         CEO  1995
6    g  35.0          MD  1996