In [13]:
import pandas as pd
import numpy as np
import scipy as stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
from scipy import stats
# from matplotlib import plt
path='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/automobileEDA.csv'
df = pd.read_csv(path)
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

ANOVA can be used to find the correlation between different groups of a categorical
variable.

In [11]:
df['make'].value_counts()

toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
alfa-romero       3
chevrolet         3
jaguar            3
isuzu             2
renault           2
mercury           1
Name: make, dtype: int64

In [14]:
df_anova = df[['make','price']]
df_anova

            make    price
0    alfa-romero  13495.0
1    alfa-romero  16500.0
2    alfa-romero  16500.0
3           audi  13950.0
4           audi  17450.0
..           ...      ...
196        volvo  16845.0
197        volvo  19045.0
198        volvo  21485.0
199        volvo  22470.0
200        volvo  22625.0

[201 rows x 2 columns]

In [21]:
grouped_anova = df_anova.groupby(['make'])
grouped_anova

In [23]:
annova_results = stats.f_oneway(grouped_anova.get_group('honda')['price'],grouped_anova.get_group('subaru')['price'])

In [24]:
annova_results

F_onewayResult(statistic=0.19744030127462606, pvalue=0.6609478240622193)

In [26]:
annova_results2 = stats.f_oneway(grouped_anova.get_group('honda')['price'],grouped_anova.get_group('jaguar')['price'])

In [27]:
annova_results2

F_onewayResult(statistic=400.925870564337, pvalue=1.0586193512077862e-11)